.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker.custom-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker.custom-datepicker .ui-datepicker-prev,
.ui-datepicker.custom-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker.custom-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker.custom-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker.custom-datepicker .ui-datepicker-prev span,
.ui-datepicker.custom-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker.custom-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker.custom-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker.custom-datepicker select.ui-datepicker-month,
.ui-datepicker.custom-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker.custom-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker.custom-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker.custom-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker.custom-datepicker td span,
.ui-datepicker.custom-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker.custom-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker.custom-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker.custom-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.custom-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}


/* Component containers
----------------------------------*/
.ui-widget.custom-datepicker {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.custom-datepicker .ui-widget {
	font-size: 1em;
}
.ui-widget.custom-datepicker input,
.ui-widget.custom-datepicker select,
.ui-widget.custom-datepicker textarea,
.ui-widget.custom-datepicker button {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget.ui-widget-content.custom-datepicker {
	border: 1px solid #c5c5c5;
}
.ui-widget-content.custom-datepicker {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}

.custom-datepicker .ui-widget-header {
	border: 1px solid #dddddd;
	background: #e9e9e9;
	color: #333333;
	font-weight: bold;
}
.custom-datepicker .ui-widget-header a {
	color: #333333;
}

/* Interaction states
----------------------------------*/
.custom-datepicker .ui-state-default,
.custom-datepicker .ui-widget-content .ui-state-default,
.custom-datepicker .ui-widget-header .ui-state-default,
.custom-datepicker .ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .custom-datepicker .ui-button.ui-state-disabled:hover,
html .custom-datepicker .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}
.custom-datepicker .ui-state-default a,
.custom-datepicker .ui-state-default a:link,
.custom-datepicker .ui-state-default a:visited,
.custom-datepicker a.ui-button,
.custom-datepicker a:link.ui-button,
.custom-datepicker a:visited.ui-button,
.custom-datepicker .ui-button {
	color: #454545;
	text-decoration: none;
}
.custom-datepicker .ui-state-hover,
.custom-datepicker .ui-widget-content .ui-state-hover,
.custom-datepicker .ui-widget-header .ui-state-hover,
.custom-datepicker .ui-state-focus,
.custom-datepicker .ui-widget-content .ui-state-focus,
.custom-datepicker .ui-widget-header .ui-state-focus,
.custom-datepicker .ui-button:hover,
.custom-datepicker .ui-button:focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}
.custom-datepicker .ui-state-hover a,
.custom-datepicker .ui-state-hover a:hover,
.custom-datepicker .ui-state-hover a:link,
.custom-datepicker .ui-state-hover a:visited,
.custom-datepicker .ui-state-focus a,
.custom-datepicker .ui-state-focus a:hover,
.custom-datepicker .ui-state-focus a:link,
.custom-datepicker .ui-state-focus a:visited,
.custom-datepicker a.ui-button:hover,
.custom-datepicker a.ui-button:focus {
	color: #2b2b2b;
	text-decoration: none;
}

.custom-datepicker .ui-visual-focus {
	box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}
.custom-datepicker .ui-state-active,
.custom-datepicker .ui-widget-content .ui-state-active,
.custom-datepicker .ui-widget-header .ui-state-active,
.custom-datepicker a.ui-button:active,
.custom-datepicker .ui-button:active,
.custom-datepicker .ui-button.ui-state-active:hover {
	border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}
.custom-datepicker .ui-icon-background,
.custom-datepicker .ui-state-active .ui-icon-background {
	border: #003eff;
	background-color: #ffffff;
}
.custom-datepicker .ui-state-active a,
.custom-datepicker .ui-state-active a:link,
.custom-datepicker .ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.custom-datepicker .ui-state-highlight,
.custom-datepicker .ui-widget-content .ui-state-highlight,
.custom-datepicker .ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}
.custom-datepicker .ui-state-checked {
	border: 1px solid #dad55e;
	background: #fffa90;
}
.custom-datepicker .ui-state-highlight a,
.custom-datepicker .ui-widget-content .ui-state-highlight a,
.custom-datepicker .ui-widget-header .ui-state-highlight a {
	color: #777620;
}
.custom-datepicker .ui-state-error,
.custom-datepicker .ui-widget-content .ui-state-error,
.custom-datepicker .ui-widget-header .ui-state-error {
	border: 1px solid #f1a899;
	background: #fddfdf;
	color: #5f3f3f;
}
.custom-datepicker .ui-state-error a,
.custom-datepicker .ui-widget-content .ui-state-error a,
.custom-datepicker .ui-widget-header .ui-state-error a {
	color: #5f3f3f;
}
.custom-datepicker .ui-state-error-text,
.custom-datepicker .ui-widget-content .ui-state-error-text,
.custom-datepicker .ui-widget-header .ui-state-error-text {
	color: #5f3f3f;
}
.custom-datepicker .ui-priority-primary,
.custom-datepicker .ui-widget-content .ui-priority-primary,
.custom-datepicker .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.custom-datepicker .ui-priority-secondary,
.custom-datepicker .ui-widget-content .ui-priority-secondary,
.custom-datepicker .ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.custom-datepicker .ui-state-disabled,
.custom-datepicker .ui-widget-content .ui-state-disabled,
.custom-datepicker .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.custom-datepicker .ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.custom-datepicker .ui-icon {
	width: 16px;
	height: 16px;
}
.custom-datepicker .ui-icon,
.custom-datepicker .ui-widget-content .ui-icon {
	background-image: url("../assets-new/ui-icons_444444_256x240.png");
}
.custom-datepicker .ui-widget-header .ui-icon {
	background-image: url("../assets-new/ui-icons_444444_256x240.png");
}

.custom-datepicker .ui-icon-circle-triangle-e { background-position: -48px -192px; }
.custom-datepicker .ui-icon-circle-triangle-w { background-position: -80px -192px; }


/* Corner radius */
.custom-datepicker .ui-corner-all,
.custom-datepicker .ui-corner-top,
.custom-datepicker .ui-corner-left,
.custom-datepicker .ui-corner-tl {
	border-top-left-radius: 3px;
}
.custom-datepicker .ui-corner-all,
.custom-datepicker .ui-corner-top,
.custom-datepicker .ui-corner-right,
.custom-datepicker .ui-corner-tr {
	border-top-right-radius: 3px;
}
.custom-datepicker .ui-corner-all,
.custom-datepicker .ui-corner-bottom,
.custom-datepicker .ui-corner-left,
.custom-datepicker .ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.custom-datepicker .ui-corner-all,
.custom-datepicker .ui-corner-bottom,
.custom-datepicker .ui-corner-right,
.custom-datepicker .ui-corner-br {
	border-bottom-right-radius: 3px;
}