@charset "utf-8";
html[lang=en] footer .footer-newletter {max-width: 427px;}
html[lang=en] footer .newletter-btn .input-btn {font-size: 14px}
html[lang=en] footer .newletter-btn .btn {font-size: 14px;padding: 12px 20px 14px}
html[lang=en] .motion-btn::after{width: 38px}

html[lang=en] .popup.collect-cookies .popup-foot{margin-top: 24px}
html[lang=en] .popup.collect-cookies .popup-foot .btn-mint {color:#fff}
html[lang=en] .popup.collect-cookies .popup-foot .btn.gray {background: rgba(153,153,153,.15)}
html[lang=en] .popup.collect-cookies .popup-con p.cello-mint {margin-top:24px}
html[lang=en] .header-banner .lnb-list {flex-shrink: 0}
html[lang=en] .search-layer .word-area {padding-left: 200px}
html[lang=en] .estimate-con .form-con {padding-left: 305px}

html[lang=en] .privacyPolicy .form-wrap {display:flex;justify-content: flex-end;padding-bottom:30px;gap:10px}
html[lang=en] .privacyPolicy .form-con {float:none;margin:0}
html[lang=en] .main-service-list .title {line-height:1.3;}

/*main*//*견적조회*/
html[lang=en] .estimate-module-wrap .country em {font-size:17px;}
html[lang=en] .quote-content .estimate-module-wrap .country em {font-size:20px;}
html[lang=en] .estimate-module-wrap .form-row {margin-top:16px;}
html[lang=en] .terms-list.agree-form-box input[type="checkbox"] + label {font-size:14px;padding-left:24px;}
html[lang=en] .terms-list .agree-form-box ul > li + li {margin-left:10px;}
html[lang=en] .info-box-head strong {font-size:17px;}
html[lang=en] .personal-info-wrap .form-text {margin-bottom:8px;}/*240111 추가*/
html[lang=en] .personal-info-wrap .form-con {margin-top:0;}
html[lang=en] .form-quote .btn.btn-sm {width:120px;text-align: center;}
html[lang=en] .popup .personal-info-wrap .inner {height:600px;overflow-y:scroll;}

html[lang=en] .main-company-special .motion-btn::after{width:calc(100% - 32px)}/*240126 추가*/
html[lang=en] .main-company-special .motion-btn:hover:after{width:calc(100% - 40px)}/*240126 추가*/
/*main*//*company-info*/
html[lang=en] .main-company-info {padding-top:160px;padding-bottom:140px;}

/*sub*//*상품*/
html[lang=en] .transport-content .intro-list li p{font-size:24px;}
html[lang=en] .transport-content .intro-list li .desc {font-size:17px;}

/* 파트너십 */
html[lang=en] .partnership-content .motion-btn::after{width:calc(100% - 32px)}
html[lang=en] .partnership-content .motion-btn:hover:after{width:calc(100% - 40px)}

/* 첼로소개 */
html[lang=en] .cello-detail .cello-step {padding-left:20px;}
html[lang=en] .cello-detail .step-list li{font-size:14px;font-weight:600;padding-left:30px;}
html[lang=en] .cello-detail .step-list li + li:before{left:10px;width:12px;background-size:100% auto;}

/*240205 추가*/
html[lang=en] .banner-quote .btn-sm{width:122px;}
/*모션*/
html[lang=en] .main-special-01 .img2 {padding:57px 38px 0 50px;width:420px;}
html[lang=en] .main-special-01 .img2 ul li {font-size:10px;letter-spacing: -.8px; width:65px;}
html[lang=en] .main-special-02 .img1 .tit {font-size:15px;width:400px;}
html[lang=en] .main-special-02 .img3 .card .tit {font-size:10.6px;}
html[lang=en] .main-special-03 .tit {font-size:12px;}
html[lang=en] .sub-special-03 .tit {font-size:12px;}
/*//240205 추가*/

html[lang=en] .nav-tab li {padding:0 18px;}/*240222 추가*/
html[lang=en] .brand-intro04 .intro04-btn .btn {width:250px;}/*240222 추가*/
html[lang=en] footer .newletter-btn .btn {min-width:230px;padding:12px 15px 14px;}/*240405 추가*/

html[lang=en] .aside-menu-area {width:340px;}/*240722 검색결과 추가*/
html[lang=en] .aside-menu-area a {font-size:19px;}/*240722 검색결과 추가*/

@media screen and (max-width:767px){
    html[lang=en] footer .footer-newletter {max-width: none}
    html[lang=en] footer .newletter-btn .input-btn {font-size: 12px;padding-left:8px}
    html[lang=en] footer .newletter-btn .btn {font-size:12px;padding: 9px 15px 10px}

    html[lang=en] .popup.collect-cookies .popup-foot .btn{width: 100%;}
    html[lang=en] .popup.collect-cookies .popup-foot .btn + .btn {margin: 12px 0 0 0;}
    html[lang=en] .popup.collect-cookies .popup-foot a.btn.gray {float:none;text-align:center}
    html[lang=en] .popup.collect-cookies .term-box{max-height:52vh}
    html[lang=en] .search-layer .word-area {padding-left: 0}
    html[lang=en] .search-posting .btn-wrap .btn {padding: 12px 25px 14px}
    html[lang=en] .estimate-con .form-con {padding-left: 0}
    html[lang=en] .privacyPolicy .form-wrap{flex-direction: column;}
    
    /*main*//*top visual*/
    html[lang=en] .btn-control {bottom:40.2222vw;}
    
    /*main*//*견적조회*/
    html[lang=en] .estimate-module-wrap .country .mo-word {display: inline-block !important;font-size:15px;word-break:keep-all;}
    html[lang=en] .quote-content .estimate-module-wrap .country em {font-size:15px;}
    html[lang=en] .personal-info-wrap .form-text {margin-bottom:-8px;}/*240111 추가*/
    html[lang=en] .personal-info-wrap .form-con {margin-top:16px;}

    /*main*//*company-info*/
    html[lang=en] .main-company-info {padding-top:540px;padding-bottom:80px;}/*240625 수정*/
    html[lang=en] .main-company-info.sds-info {padding-top:60px;padding-bottom:80px;}/*240625 추가*/
    
    /*sub*//*상품*/
    html[lang=en] .transport-content .intro-list li p{font-size:22px;}
    html[lang=en] .transport-content .intro-list li .desc {font-size:16px;}
    
    /*sub*//*global network*/
    html[lang=en] .micro-menu .inner .micro-nav{justify-content:flex-start;padding-right:102px;}

    /*240205 추가*/
    /*모션*/
    html[lang=en] .main-special-01 .img2 {padding:9.5vw 6.3333vw 0 8.3333vw;width:70vw;}
    html[lang=en] .main-special-01 .img2 ul li {font-size:1.6667vw;letter-spacing:-0.1333vw;width:10.8333vw;}
    html[lang=en] .main-special-02 .img1 .tit {font-size:2.2222vw;width:55.5556vw;}
    html[lang=en] .main-special-02 .img3 .card .tit {font-size:1.4722vw;}
    html[lang=en] .main-special-03 .tit {font-size:1.9vw;}
    html[lang=en] .sub-special-03 .tit {font-size:1.9vw;}
    /*//240205 추가*/

    html[lang=en] .brand-intro04 .intro04-btn .btn {width:100%;}/*240222 추가*/
    html[lang=en] footer .newletter-btn .btn {min-width:180px;}/*240405 추가*/

    html[lang=en] .aside-menu-area {width:100%;}/*240722 검색결과 추가*/
    html[lang=en] .result-list-area .title-box {font-size:16px;}/*240722 검색결과 추가*/
    html[lang=en] .result-list-area .title-box b {font-size:20px;}/*240722 검색결과 추가*/
    html[lang=en] .aside-menu-area a {font-size:16px;}/*240723 검색결과 추가*/
    html[lang=en] .aside-sub-sub a {font-size:14px;}/*240723 검색결과 추가*/
}
